
{% extends 'layout.html'%}

{% block title%}Resume{% endblock%}

{% block content %}
    <div class="topletter">
        <h3>Cover Letter</h3>
        <div class="letter">
            <div class="letter-header">
                <h2>Entry level Python Developer</h2>              
            </div>
            <div class="letter-date">
                <p>{{ month }} {{ day }}, {{ year }}</p>
            </div>
            <div class="letter-body">
              <p>Dear Hiring Manager,</p>
                <p>
                    I am writing to express my enthusiasm for the Python Developer Internship position at your esteemed organization, as advertised. With a background as a law clerk for over 7 years, I have honed my skills in attention to detail, problem-solving, and proactive teamwork. Now, I am eager to transition into the field of software development, driven by my passion for learning and solving complex challenges. <br><br>

                    Throughout my career, I have demonstrated a strong ability to self-motivate and pursue learning opportunities independently. I find genuine enjoyment in immersing myself in self-study, particularly when it involves problem-solving and exploring new technologies. My experience as a law clerk has instilled in me a keen eye for detail and the ability to devise innovative solutions to unexpected issues, skills which I am eager to apply in a software development context.

                    I am known for my proactive approach to tasks, excellent organizational skills, and efficient time management. These qualities have enabled me to collaborate effectively with colleagues, ensuring that we achieve optimal results together. Personally, I believe that teamwork is paramount to success, and I strive to harmonize with team members through continuous communication and cooperation, always keeping our common goals in mind. <br><br>

                    In preparation for a career as a developer, I have taken it upon myself to acquire the necessary knowledge and skills. I consistently seek out projects to work on independently, dedicating myself to learning something new each day. My commitment to personal growth is evident in my daily practice of working on projects without fail. I am deeply passionate about becoming a Python engineer and have aspirations to specialize in cloud engineering in the future.  <br><br>

                    Currently, I am limited in the time and resources I can allocate to learning due to the demands of my current role. However, I am eager for the opportunity to immerse myself fully in the world of Python development as an intern. I am keen to expand my knowledge, gain hands-on experience, and contribute to meaningful projects within your team.  <br><br>

                    Thank you for considering my application. I am excited about the possibility of contributing to your organization and am available at your earliest convenience for an interview. I look forward to discussing how my skills and experiences align with the goals of your team.  <br><br>

                    Warm regards,
                </p>
              <p>Sincerely,</p>
              <p>Yeyul Choi</p>
            </div>
            <div class="letter-signature">
              <p>Yeyul Choi</p>
            </div>
        </div>
        
    </div>


{% endblock %}