
{% extends 'layout.html'%}

{% block title%}Resume{% endblock%}

{% block content %}

<div class="container " >
<main class="main-content">
    <section class="left-section">
        <div class="left-content">
            <div class="profile">
                <div class="image">
                    <img src="{{url_for('static', filename='/images/yeyul.PNG')}}" alt="applicant-photo">
                </div>
                <h2 class="name">Yeyul Choi</h2>
                <p class="career">Python Developer</p>
            </div>
            <div class="contact-info">
                <h3 class="main-title">CONTACT INFO</h3>
                <ul>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        1-647-995-1483
                    </li>
                    <li>
                        <i class="fa-solid fa-at"></i>
                        <form method="POST" action="{{ url_for('home')}}">
                           <button type="submit" data-bs-toggle="modal" data-bs-target="#add-modal">yeyulchoi@outlook.com</button> 
                        </form>
                        
                    </li>
                    <!-- modal -->
                    <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">EMAIL SENT</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Email Notification has been sent to Yeyul Choi.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                              
                            </div>
                          </div>
                        </div>
                      </div>
                    <li>
                        <i class="fa-brands fa-linkedin"></i>
                        <a href="https://www.linkedin.com/in/yeyul-choi-3a7a09a7/">www.linkedin.com/in/yeyul-choi</a>                       
                    </li>
                    <li>
                        <i class="fa-brands fa-square-facebook"></i>
                        <a href="https://www.facebook.com/yeyul.choi.7">https://www.facebook.com/yeyul.choi.7</a>                        
                    </li>
                    <li>
                        <i class="fa-brands fa-github"></i>
                        <a href="https://github.com/yeyulchoi">https://github.com/yeyulchoi</a>                        
                    </li>
                    <li>
                        <i class="fa-solid fa-house"></i>
                        53 Willesden RdNorth York, ON M2H 1V5
                    </li>
                </ul>
            </div>
            <div class="skill-section">
                <h3 class="main-title">SKILLS</h3>                   
                <ul>
                    <li>
                        <p class="skill-title">Python</p>
                        <div class="progress-bar">
                            <div class="progress  python-progress"></div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p class="skill-title">Web Scraping</p>
                        <div class="progress-bar">
                            <div class="progress  web-scrapting-progress"></div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p class="skill-title">Flask</p>
                        <div class="progress-bar">
                            <div class="progress  flask-progress"></div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p class="skill-title">Pandas</p>
                        <div class="progress-bar">
                            <div class="progress  django-progress"></div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p class="skill-title">Matplotlib</p>
                        <div class="progress-bar">
                            <div class="progress  db-progress"></div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p class="skill-title">C#</p>
                        <div class="progress-bar">
                            <div class="progress  c-progress"></div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p class="skill-title">HTML/CSS</p>
                        <div class="progress-bar">
                            <div class="progress  html-progress"></div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p class="skill-title">Github</p>
                        <div class="progress-bar">
                            <div class="progress  github-progress"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="reference-section">
                <h3 class="main-title">Reference</h3>
                <div class="referee">
                    <h6 class="sub-title">James Bond</h6>
                    <p class="sub-para">Product Manager</p>
                    <ul>
                        <li>
                            <i class="fa-solid fa-phone"></i>
                            1-647-995-1483
                        </li>
                        <li>
                            <i class="fa-solid fa-at"></i>
                            yeyulchoi@outlook.com
                        </li>
                    </ul>
                </div>
                <div class="referee">
                    <h6 class="sub-title">James Bond</h6>
                    <p class="sub-para">Product Manager</p>
                    <ul>
                        <li>
                            <i class="fa-solid fa-phone"></i>
                            1-647-995-1483
                        </li>
                        <li>
                            <i class="fa-solid fa-at"></i>
                            yeyulchoi@outlook.com
                        </li>
                    </ul>
                </div>
                <div class="referee">
                    <h6 class="sub-title">James Bond</h6>
                    <p class="sub-para">Product Manager</p>
                    <ul>
                        <li>
                            <i class="fa-solid fa-phone"></i>
                            1-647-995-1483
                        </li>
                        <li>
                            <i class="fa-solid fa-at"></i>
                            yeyulchoi@outlook.com
                        </li>
                    </ul>
                </div>
                                    
                
            </div>
            
        </div>
       
        <div class="reference">

        </div>
    </section>
    <section class="right-section">
        <div class="right-main-content">
            <section class="summary sect">
                <h2 class="right-title">Summary</h2>
                <p class="para">
                    Dynamic and motivated individual with a passion for Python programming seeking an internship 
                    opportunity as a Python Developer. Possessing a solid foundation in computer science principles 
                    and hands-on experience in Python development, I am eager to contribute to innovative projects 
                    while further enhancing my skills in a professional environment. <br><br> With a strong aptitude for 
                    problem-solving and a keen interest in software development, I am committed to delivering 
                    high-quality code and collaborating effectively within a team setting. Ready to leverage my knowledge 
                    and enthusiasm to drive impactful solutions and gain valuable real-world experience in the field of 
                    software development.


                </p>
            </section>
            <section class="education sect">
                <h2 class="right-title">education</h2>
                <div class="timeline">
                    <div class="left-tl-content">
                        <h5 class="tl-title">Software Engineering Technician</h5>
                        <p class="para">2022 - 2024</p>
                    </div>
                    <div class="right-tl-content">
                        <div class="tl-content">
                            <h5 class="tl-title-2 gpa">Diploma</h5>
                            <p class="para">
                                Centennial College
                                <br>
                                 Scarborough ON Canada                                                                                                           
                            </p>
                        </div>
                    </div>
                </div>                                        
            </section>                
            <section class="Portfolio sect">
                <h2 class="right-title">Portfolio</h2>
                <div class="timeline">
                    <div class="left-tl-content">
                        <h5 class="tl-title">Flask Blog</h5>
                        <small>Created following tutorials on YouTube. <br>
                            Copyright 2018 Corey Schafer</small>
                    </div>
                    <div class="right-tl-content">
                        <div class="tl-content">
                            <h5 class="tl-title-2">Learn from</h5>
                            <p class="para">                                   
                                This blog enables different users to create posts. Users can register and log in. In case they forget their credentials, 
                                they can update their password by receiving a code via email. Users can only view posts from other users, but they can upload 
                                profile pictures and view, update, or delete their own posts.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline">
                    <div class="left-tl-content">
                        <h5 class="tl-title">portfolio- 2</h5>
                        <p class="para">link</p>
                    </div>
                    <div class="right-tl-content">
                        <div class="tl-content">
                            <h5 class="tl-title-2">Gcse's</h5>
                            <p class="para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate vitae 
                                voluptatem deleniti, 
                                laboriosam odio nobis quae fugit facilis quo.
                            </p>
                        </div>
                    </div>
                </div>
                
            </section>
            <section class="certificate sect">
                <h2 class="right-title">Certification</h2>
                <div class="timeline">
                    <div class="left-tl-content">
                        <h5 class="tl-title">AWS Solution Architect-associate</h5>
                        <p class="para">July 2023 - July 2026</p>
                    </div>
                    <div class="right-tl-content">
                        <div class="tl-content">
                            <h5 class="tl-title-2">Gcse's</h5>
                            <p class="para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate vitae 
                                voluptatem deleniti, 
                                laboriosam odio nobis quae fugit facilis quo.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline">
                    <div class="left-tl-content">
                        <h5 class="tl-title">PCEP – Certified Entry-Level Python Programmer</h5>
                        <p class="para">2015 - 2016</p>
                    </div>
                    <div class="right-tl-content">
                        <div class="tl-content">
                            <h5 class="tl-title-2">Gcse's</h5>
                            <p class="para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate vitae 
                                voluptatem deleniti, 
                                laboriosam odio nobis quae fugit facilis quo.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline">
                    <div class="left-tl-content">
                        <h5 class="tl-title">PCAP: Certified Associate in Python Programming</h5>
                        <p class="para">2015 - 2016</p>
                    </div>
                    <div class="right-tl-content">
                        <div class="tl-content">
                            <h5 class="tl-title-2">Gcse's</h5>
                            <p class="para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate vitae 
                                voluptatem deleniti, 
                                laboriosam odio nobis quae fugit facilis quo.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline">
                    <div class="left-tl-content">
                        <h5 class="tl-title">C# Fundamental completion</h5>
                        <p class="para">2015 - 2016</p>
                    </div>
                    <div class="right-tl-content">
                        <div class="tl-content">
                            <h5 class="tl-title-2">Gcse's</h5>
                            <p class="para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate vitae 
                                voluptatem deleniti, 
                                laboriosam odio nobis quae fugit facilis quo.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="certificate sect">
                <h2 class="right-title">Language</h2>
                <div class="timeline">
                    <div class="left-tl-content">
                        <h5 class="tl-title">AWS Solution Architect-associate</h5>
                        <p class="para">2015 - 2016</p>
                    </div>
                    <div class="right-tl-content">
                        <div class="tl-content">
                            <h5 class="tl-title-2">Gcse's</h5>
                            <p class="para">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate vitae 
                                voluptatem deleniti, 
                                laboriosam odio nobis quae fugit facilis quo.
                            </p>
                        </div>
                    </div>
                </div>    
            </section>
        </div>
    </section>

</main>
</div>
{% endblock %}
</body>
</html>






